* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wapper {
    background-color: #0e1525;
    height: 900px;
    width: 100%;
    position: relative;
}

#stopwatch {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
    transform: translateY(-50%);
}

p {
    font-size: 60px;
    color: white;
    display: block;
}

#button {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
}

button:nth-child(1) {
    background-color: #2bd4bd;
}

button:nth-child(2) {
    background-color: #fb6f84;
}

button:nth-child(3) {
    background-color: #037f04;
}